<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

?>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <title>Application</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="nav-link">Australian Weather Application</div>
          </li>
        </ul>
      </div>
    </nav>
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container text-center">
        <h1>How is the weather in your city now ?</h1>
        <br />
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <form action="#" method="post">
                <select class="custom-select custom-select-md select2" name="id">
                    <option selected disabled>Select a city ...</option>
                    <option value="">Name 1</option>
                    <option value="">Name 2</option>
                    <option value="">Name 3</option>
                </select>
                <br />
                <br />
                <button class="btn btn-primary btn-sm" type="submit">Check</button>
                </form>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
  </body>
</html>